@using KitapKurdu.UI.Models.Entity
@model IEnumerable<KitapKurdu.UI.Models.Entity.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    KitapKurdu.UI.Models.Entity.Book kitap;
    List<Book> firstCategoryBooks = ((List<Book>)ViewBag.FirstCategory);

    List<Book> secondCategoryBooks = ((List<Book>)ViewBag.SecondCategory);

    List<Book> thirdCategoryBooks = ((List<Book>)ViewBag.ThirdCategory);
    List<Book> fourthCategoryBooks = ((List<Book>)ViewBag.FourthCategory);

    List<Book> fifthCategoryBooks = ((List<Book>)ViewBag.FifthCategory);
    IEnumerable<Book> allBooks = firstCategoryBooks.Concat(secondCategoryBooks).Concat(thirdCategoryBooks).Concat(fourthCategoryBooks).Concat(fifthCategoryBooks).ToList();

}
@section styles{
    <style>
        .ustbnr {
            background-image: url(https://okuoku.com/Content/global/images/banners/966.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            height: 30px;
            width: 100%;
            position: relative;
            overflow: hidden;
            transition: height 0.5s;
        }

            .ustbnr .closebnr {
                display: none;
            }

            .ustbnr .closebnr {
                cursor: pointer;
                position: absolute;
                right: 20px;
                top: calc(50% - 12px);
                background-color: rgba(136,136,136,.5);
                border-radius: 50%;
                width: 29px;
                height: 29px;
                font-size: 20px;
                color: #fff;
                text-align: center;
                display: block !important;
            }

        .ustbnr {
            position: relative;
            overflow: hidden;
        }

            .ustbnr:hover {
                background-image: url(https://okuoku.com/Content/global/images/banners/966.jpg);
                height: 200px;
            }
    </style>

}
@section kampanyahover{
    <a href="/kampanyalar">
        <div class="ustbnr">
            <span class="closebnr"><i class="fa fa-times"></i></span>
        </div>
    </a>
}
<div id="pencere">

    <!-- End Search Popup -->
    <!-- Start Slider area -->
    <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
        <!-- Start Single Slide -->
        <div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
                            <div class="contentbox">
                                <h2>Buy <span>your </span></h2>
                                <h2>favourite <span>Book </span></h2>
                                <h2>from <span>Here </span></h2>
                                <a class="shopbtn" href="@Url.Action("Index","Book")">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide animation__style10 bg-image--5 fullscreen align__center--left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
                            <div class="contentbox">
                                <h2>Buy <span>your </span></h2>
                                <h2>favourite <span>Book </span></h2>
                                <h2>from <span>Here </span></h2>
                                <a class="shopbtn" href="#">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
    <!-- End Slider area -->
    <!-- Start BEst Seller Area -->
    <section class="wn__product__area brown--color pt--80  pb--30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">New <span class="color--theme">Products</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                    </div>
                </div>
            </div>
            <!-- Start Single Tab Content -->
            <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
                <!-- Start Single Product -->
                @foreach (var item in ViewBag.SonEklenenler)
                {
                    if (item is KitapKurdu.UI.Models.Entity.Book)
                    {
                        kitap = item as KitapKurdu.UI.Models.Entity.Book;
                        <div class="single__product">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product product__style--3">
                                    <div class="product__thumb">
                                        <a class="first__img " id="@kitap.ID" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x=>x.Book.ID==kitap.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                        <a class="second__img animation1" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x=>x.Book.ID==kitap.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                        <div class="hot__box">
                                            <span class="hot-label">HOT</span>
                                        </div>
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a href="single-product.html">@kitap.BookName</a></h4>
                                        <ul class="prize d-flex">
                                            <li>@kitap.UnitPrice.ToString("#.##₺")</li>
                                            <li class="old_prize">@((kitap.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li><a class="cart kartaekle" id="@kitap.ID"><i class="bi bi-shopping-bag4"></i></a></li>
                                                    <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#"><i class="bi bi-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>
            <!-- End Single Tab Content -->
        </div>
    </section>
    <!-- Start BEst Seller Area -->
    <!-- Start NEwsletter Area -->
    <!-- End NEwsletter Area -->
    <!-- Start Best Seller Area -->
    <section class="wn__bestseller__area bg--white pt--80  pb--30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">All <span class="color--theme">Products</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                    </div>
                </div>
            </div>
            <div class="row mt--50">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="product__nav nav justify-content-center" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-all" role="tab">ALL</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-First" role="tab">@firstCategoryBooks.FirstOrDefault().Category.CategoryName</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-Second" role="tab">@secondCategoryBooks.FirstOrDefault().Category.CategoryName</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-Third" role="tab">@thirdCategoryBooks.FirstOrDefault().Category.CategoryName</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-Fourth" role="tab">@fourthCategoryBooks.FirstOrDefault().Category.CategoryName</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-Fifth" role="tab">@fifthCategoryBooks.FirstOrDefault().Category.CategoryName</a>
                    </div>
                </div>
            </div>
            <div class="tab__container mt--60">
                <!-- Start Single Tab Content -->
                <div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
                    <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                        @foreach (var item in allBooks)
                        {
                            <div class="single__product">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product product__style--3">
                                        <div class="product__thumb">
                                            <a class="first__img " id="@item.ID" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@item.BookImages.Where(x => x.Book.ID == item.ID).Select(x => x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                            <a class="second__img animation1" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@item.BookImages.Where(x=>x.Book.ID==item.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                            <div class="hot__box">
                                                <span class="hot-label">HOT</span>
                                            </div>
                                        </div>
                                        <div class="product__content content--center">
                                            <h4><a href="single-product.html">@item.BookName</a></h4>
                                            <ul class="prize d-flex">
                                                <li>@item.UnitPrice.ToString("#.##₺")</li>
                                                <li class="old_prize">@((item.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                                            </ul>
                                            <div class="action">
                                                <div class="actions_inner">
                                                    <ul class="add_to_links">
                                                        <li><a class="cart kartaekle" id="@item.ID"><i class="bi bi-shopping-bag4"></i></a></li>
                                                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#"><i class="bi bi-search"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__hover--content">
                                                <ul class="rating d-flex">
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        }
                    </div>
                </div>
                <!-- End Single Tab Content -->
                <!-- Start Single Tab Content -->
                <div class="row single__tab tab-pane fade" id="nav-First" role="tabpanel">
                    <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                        <!-- Start Single Product -->
                        @foreach (var item in firstCategoryBooks)
                        {
                            <div class="single__product">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product product__style--3">
                                        <div class="product__thumb">
                                            <a class="first__img " id="@item.ID" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@item.BookImages.Where(x => x.Book.ID == item.ID).Select(x => x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                            <a class="second__img animation1" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@item.BookImages.Where(x=>x.Book.ID==item.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                            <div class="hot__box">
                                                <span class="hot-label">HOT</span>
                                            </div>
                                        </div>
                                        <div class="product__content content--center">
                                            <h4><a href="single-product.html">@item.BookName</a></h4>
                                            <ul class="prize d-flex">
                                                <li>@item.UnitPrice.ToString("#.##₺")</li>
                                                <li class="old_prize">@((item.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                                            </ul>
                                            <div class="action">
                                                <div class="actions_inner">
                                                    <ul class="add_to_links">
                                                        <li><a class="cart kartaekle" id="@item.ID"><i class="bi bi-shopping-bag4"></i></a></li>
                                                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#"><i class="bi bi-search"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__hover--content">
                                                <ul class="rating d-flex">
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        }



                        @*@foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="product product__style--3">
                    <div class="product__thumb">
                        <a class="first__img " id="@item.ID" href="#"><img src="@item.BookImages.Where(x => x.Book.ID == item.ID).Select(x => x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                        <a class="second__img animation1" href="single-product.html"><img src="@item.BookImages.Where(x => x.Book.ID == item.ID).Select(x => x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                        <div class="hot__box">
                            <span class="hot-label">HOT</span>
                        </div>
                    </div>
                    <div class="product__content content--center">
                        <h4><a href="single-product.html">@item.BookName</a></h4>
                        <ul class="prize d-flex">
                            <li>@item.UnitPrice.ToString("#.##₺")</li>
                            <li class="old_prize">@((item.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                        </ul>
                        <div class="action">
                            <div class="actions_inner">
                                <ul class="add_to_links">
                                    <li><a class="cart kartaekle" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>

                                    <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                    <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__hover--content">
                            <ul class="rating d-flex">
                                <li class="on"><i class="fa fa-star-o"></i></li>
                                <li class="on"><i class="fa fa-star-o"></i></li>
                                <li class="on"><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }*@
                        <!-- Start Single Product -->
                        <!-- Start Single Product -->
                        @*@foreach (var item in Model)
        {

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="product product__style--3">
                    <div class="product__thumb">
                        <a class="first__img " id="@item.ID" href="#"><img src="@item.BookImages.Where(x=>x.Book.ID==item.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                        <a class="second__img animation1" href="single-product.html"><img src="@item.BookImages.Where(x=>x.Book.ID==item.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                        <div class="hot__box">
                            <span class="hot-label">HOT</span>
                        </div>
                    </div>
                    <div class="product__content content--center">
                        <h4><a href="single-product.html">@item.BookName</a></h4>
                        <ul class="prize d-flex">
                            <li>@item.UnitPrice.ToString("#.##₺")</li>
                            <li class="old_prize">@((item.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                        </ul>
                        <div class="action">
                            <div class="actions_inner">
                                <ul class="add_to_links">
                                    <li><a class="cart kartaekle" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>

                                    <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                    <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__hover--content">
                            <ul class="rating d-flex">
                                <li class="on"><i class="fa fa-star-o"></i></li>
                                <li class="on"><i class="fa fa-star-o"></i></li>
                                <li class="on"><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Single Product -->
            <!-- Start Single Product -->
            <!-- Start Single Product -->

        }*@
                        <!-- Start Single Product -->

                    </div>
                </div>
                <!-- End Single Tab Content -->
                <!-- Start Single Tab Content -->
                <div class="row single__tab tab-pane fade" id="nav-Second" role="tabpanel">
                    <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                        @foreach (var item in secondCategoryBooks)
                        {
                            if (item is KitapKurdu.UI.Models.Entity.Book)
                            {
                                kitap = item as KitapKurdu.UI.Models.Entity.Book;
                                <div class="single__product">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="product product__style--3">
                                            <div class="product__thumb">
                                                <a class="first__img " id="@kitap.ID" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x => x.Book.ID == kitap.ID).Select(x => x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                                <a class="second__img animation1" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x=>x.Book.ID==kitap.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                                <div class="hot__box">
                                                    <span class="hot-label">HOT</span>
                                                </div>
                                            </div>
                                            <div class="product__content content--center">
                                                <h4><a href="single-product.html">@kitap.BookName</a></h4>
                                                <ul class="prize d-flex">
                                                    <li>@kitap.UnitPrice.ToString("#.##₺")</li>
                                                    <li class="old_prize">@((kitap.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li><a class="cart kartaekle" id="@kitap.ID"><i class="bi bi-shopping-bag4"></i></a></li>
                                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#"><i class="bi bi-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
                <!-- End Single Tab Content -->
                <!-- Start Single Tab Content -->
                <div class="row single__tab tab-pane fade" id="nav-Third" role="tabpanel">
                    <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                        @foreach (var item in thirdCategoryBooks)
                        {
                            if (item is KitapKurdu.UI.Models.Entity.Book)
                            {
                                kitap = item as KitapKurdu.UI.Models.Entity.Book;
                                <div class="single__product">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="product product__style--3">
                                            <div class="product__thumb">
                                                <a class="first__img " id="@kitap.ID" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x => x.Book.ID == kitap.ID).Select(x => x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                                <a class="second__img animation1" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x=>x.Book.ID==kitap.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                                <div class="hot__box">
                                                    <span class="hot-label">HOT</span>
                                                </div>
                                            </div>
                                            <div class="product__content content--center">
                                                <h4><a href="single-product.html">@kitap.BookName</a></h4>
                                                <ul class="prize d-flex">
                                                    <li>@kitap.UnitPrice.ToString("#.##₺")</li>
                                                    <li class="old_prize">@((kitap.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li><a class="cart kartaekle" id="@kitap.ID"><i class="bi bi-shopping-bag4"></i></a></li>
                                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#"><i class="bi bi-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
                <!-- End Single Tab Content -->
                <!-- Start Single Tab Content -->
                <div class="row single__tab tab-pane fade" id="nav-Fourth" role="tabpanel">
                    <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                        @foreach (var item in fourthCategoryBooks)
                        {
                            if (item is KitapKurdu.UI.Models.Entity.Book)
                            {
                                kitap = item as KitapKurdu.UI.Models.Entity.Book;
                                <div class="single__product">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="product product__style--3">
                                            <div class="product__thumb">
                                                <a class="first__img " id="@kitap.ID" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x => x.Book.ID == kitap.ID).Select(x => x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                                <a class="second__img animation1" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x=>x.Book.ID==kitap.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                                <div class="hot__box">
                                                    <span class="hot-label">HOT</span>
                                                </div>
                                            </div>
                                            <div class="product__content content--center">
                                                <h4><a href="single-product.html">@kitap.BookName</a></h4>
                                                <ul class="prize d-flex">
                                                    <li>@kitap.UnitPrice.ToString("#.##₺")</li>
                                                    <li class="old_prize">@((kitap.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li><a class="cart kartaekle" id="@kitap.ID"><i class="bi bi-shopping-bag4"></i></a></li>
                                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#"><i class="bi bi-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
                <!-- End Single Tab Content -->
                <div class="row single__tab tab-pane fade" id="nav-Fifth" role="tabpanel">
                    <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                        @foreach (var item in fifthCategoryBooks)
                        {
                            if (item is KitapKurdu.UI.Models.Entity.Book)
                            {
                                kitap = item as KitapKurdu.UI.Models.Entity.Book;
                                <div class="single__product">
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="product product__style--3">
                                            <div class="product__thumb">
                                                <a class="first__img " id="@kitap.ID" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x => x.Book.ID == kitap.ID).Select(x => x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                                <a class="second__img animation1" href="@Url.Action("Details", "Book", new { id=item.ID })"><img src="@kitap.BookImages.Where(x=>x.Book.ID==kitap.ID).Select(x=>x.ImageUrl).FirstOrDefault()" alt="product image" width="270" height="340"></a>
                                                <div class="hot__box">
                                                    <span class="hot-label">HOT</span>
                                                </div>
                                            </div>
                                            <div class="product__content content--center">
                                                <h4><a href="single-product.html">@kitap.BookName</a></h4>
                                                <ul class="prize d-flex">
                                                    <li>@kitap.UnitPrice.ToString("#.##₺")</li>
                                                    <li class="old_prize">@((kitap.UnitPrice * 1.1M).ToString("#.##₺"))</li>
                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li><a class="cart kartaekle" id="@kitap.ID"><i class="bi bi-shopping-bag4"></i></a></li>
                                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#"><i class="bi bi-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start BEst Seller Area -->
    <!-- Start Recent Post Area -->
    <!-- End Recent Post Area -->
    <!-- Best Sale Area -->


    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productmodal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content">
                    <div class="modal-header modal__header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <!-- Start product images -->
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="big images" src="images/product/big-img/1.jpg">
                                </div>
                            </div>
                            <!-- end product images -->
                            <div class="product-info">
                                <h1>Simple Fabric Bags</h1>
                                <div class="rating__and__review">
                                    <ul class="rating">
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                    </ul>
                                    <div class="review">
                                        <a href="#">4 customer reviews</a>
                                    </div>
                                </div>
                                <div class="price-box-3">
                                    <div class="s-price-box">
                                        <span class="new-price">$17.20</span>
                                        <span class="old-price">$45.00</span>
                                    </div>
                                </div>
                                <div class="quick-desc">
                                    Designed for simplicity and made from high quality materials. Its sleek geometry and material combinations creates a modern look.
                                </div>
                                <div class="select__color">
                                    <h2>Select color</h2>
                                    <ul class="color__list">
                                        <li class="red"><a title="Red" href="#">Red</a></li>
                                        <li class="gold"><a title="Gold" href="#">Gold</a></li>
                                        <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                        <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                    </ul>
                                </div>
                                <div class="select__size">
                                    <h2>Select size</h2>
                                    <ul class="color__list">
                                        <li class="l__size"><a title="L" href="#">L</a></li>
                                        <li class="m__size"><a title="M" href="#">M</a></li>
                                        <li class="s__size"><a title="S" href="#">S</a></li>
                                        <li class="xl__size"><a title="XL" href="#">XL</a></li>
                                        <li class="xxl__size"><a title="XXL" href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social__net social__net--2 d-flex justify-content-start">
                                            <li class="facebook"><a href="#" class="rss social-icon"><i class="zmdi zmdi-rss"></i></a></li>
                                            <li class="linkedin"><a href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                            <li class="pinterest"><a href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                            <li class="tumblr"><a href="#" class="tumblr social-icon"><i class="zmdi zmdi-tumblr"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="addtocart-btn">
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


