@model KitapKurduCom.Models.ViewModel.UserLoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bubbly - Boootstrap 4 Admin template by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/Areas/Admin/Assets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <!-- orion icons-->
    <link rel="stylesheet" href="/Areas/Admin/Assets/css/orionicons.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/Areas/Admin/Assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/Areas/Admin/Assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/Areas/Admin/Assets/img/favicon.png?3">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
    <div class="page-holder d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
                    <div class="pr-lg-5"><img src="/Areas/Admin/Assets/img/illustration.svg" alt="" class="img-fluid"></div>
                </div>
                <div class="col-lg-5 px-lg-4">
                    <h1 class="text-base text-primary text-uppercase mb-4">Bubbly Dashboard</h1>
                    <h2 class="mb-4">Welcome back!</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()



                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group mb-4">
                                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">*@
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control border-0 shadow form-control-lg" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                @*</div>*@
                            </div>

                            <div class="form-group mb-4">
                                @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">*@
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control border-0 shadow form-control-lg text-violet" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                @*</div>*@
                            </div>

                            @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">*@
                                    <input type="submit" value="Log in" class="btn btn-primary shadow px-5" />
                                @*</div>
                            </div>*@
                  
                    }
                </div>
            </div>
            <p class="mt-5 mb-0 text-gray-400 text-center">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a> & Your company</p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)                 -->
        </div>
    </div>


   

    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    <script src="/Areas/Admin/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="/Areas/Admin/Assets/vendor/popper.js/umd/popper.min.js"></script>
    <script src="/Areas/Admin/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Areas/Admin/Assets/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="/Areas/Admin/Assets/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/Areas/Admin/Assets/js/front.js"></script>
</body>
</html>
